{% extends 'base.html.twig' %}
{% block title %}
   Visualisation
{% endblock %}

{% block body %}
    <div class="pageheader">
        <h3><i class="fa fa-home"></i>Maquette</h3>
        <div class="breadcrumb-wrapper">
            <span class="label"></span>
            <ol class="breadcrumb">
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Imprimés</a></li>
                <li class="active">Maquette</li>
            </ol>
        </div>
    </div>
    <div id="page-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                    </div>

                  
                    <div class="panel-body">
                      <div class="row">
                          <div class="col-xs-10 col-xs-offset-1">

                             <div class="form-group">
                                <div class="row">
                                      <label class="col-sm-2 text-right control-label">Libellé Ecole</label>
                                        <div class="col-sm-9">
                                       <select name="ecole" id="ecole" class="form-control" onchange='ecole()'>
                                         <option value="-1">-- Sélectionnez une Ecole --</option>
                                       {% for ecole in ecoles %}
                                         <option value="{{ecole.id}}">{{ecole.libecole}}</option>   
                                       {% endfor %}
                                       </select>
                                        </div>
                                  </div>
        
                              </div>
                              <div class="form-group">
                                <div class="row">
                                      <label class="col-sm-2 text-right control-label">Libellé Filière</label>
                                        <div class="col-sm-9">
                                       <select name="filiere" id="filiere" class="form-control" onchange="filiere()">
                                       <option value="-1"> -- Sélectionnez une Filière --</option> 
                                        {% for filiere in filieres %}
                                         <option value="{{filiere.id}}">{{filiere.libfiliere}}</option>   
                                       {% endfor %}
                                       </select>
                                        </div>
                                  </div>
        
                              </div>
                              <div class="form-group">
                                <div class="row">
                                      <label class="col-sm-2 text-right control-label">Libellé Mention</label>
                                        <div class="col-sm-9">
                                       <select name="mention" id="mention" class="form-control" onchange="mention()">
                                         <option value="-1">-- Sélectionnez une Mention --</option>
                                        {% for mention in mentions %}
                                         <option value="{{mention.id}}">{{mention.libmention}}</option>   
                                       {% endfor %}
                                       </select>
                                        </div>
                                  </div>
        
                              </div>
                              <div class="form-group">
                                <div class="row">
                                      <label class="col-sm-2 text-right control-label">Libellé Spécialité</label>
                                        <div class="col-sm-9">
                                       <select name="parcours" id="parcours" class="form-control">
                                       <option value="-1">-- Sélectionnez un parcours --</option>
                                       </select>
                                        </div>
                                  </div>
        
                              </div>
                              
                          </div>
                      </div>

                        <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-7 col-sm-offset-3 text-right">
                                <button class="btn btn-default" type="reset">Annuler</button>
                                <button class="btn btn-primary" type="submit">Enregistrer</button>
                            </div>
                        </div>
                    </div>
                   
                    <div class="row">
                      <div class="col-sm-12" style="margin-top:30px">

                      </div>
                    </div>

                   
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('ressources/plugins/bootstrap-validator/bootstrapValidator.min.css')}}" rel="stylesheet">
    <link href="{{ asset('ressources/plugins/dropzone/dropzone.css')}}" rel="stylesheet">
    <link href="{{ asset('ressources/plugins/datatables/media/css/dataTables.bootstrap.css')}}" rel="stylesheet">
    <link href="{{ asset('ressources/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css')}}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('ressources/plugins/bootstrap-validator/bootstrapValidator.min.js')}}"></script>
    <script src="{{ asset('ressources/js/sygesca-form-validation.js')}}"></script>
    <script src="{{ asset('ressources/plugins/datatables/media/js/jquery.dataTables.js')}}"></script>
    <script src="{{ asset('ressources/plugins/datatables/media/js/dataTables.bootstrap.js')}}"></script>
    <script src="{{ asset('ressources/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js')}}"></script>
    <script src="{{ asset('ressources/js/demo/tables-datatables.js')}}"></script>
    <script type='text/javascript'>
	 
			function getXhr(){
                            var xhr = null;
				if(window.XMLHttpRequest){ 
				   xhr = new XMLHttpRequest(); 
				   
				}
				else if(window.ActiveXObject){  
				   try {
							xhr = new ActiveXObject("Msxml2.XMLHTTP");
						} catch (e) {
							xhr = new ActiveXObject("Microsoft.XMLHTTP");
						}
				}
				else {
				   alert("Votre navigateur ne supporte pas les objets XMLHttpRequest..."); 
				   xhr = false; 
				} 
                 return xhr;
			}
			
			

			/**
            * Fonction sera appelée à la selection de l'école
            */
			function ecole(){ //die('ici')
				
				var xhr = getXhr();
					
				xhr.onreadystatechange = function(){
					if(xhr.readyState == 4 && xhr.status == 200){
						di = document.getElementById('filiere');
						di.innerHTML = xhr.responseText;
					}
				}

				xhr.open("POST","{{ path('filtre_filiere') }}",true);
				xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
				idEcole = document.getElementById('ecole').options[document.getElementById('ecole').selectedIndex].value;
				xhr.send("idEcole="+idEcole);				
				
			}

            /**
            * Fonction  recuperation mentions de la filiere
            */
			function filiere(){ //die(alert('fuction'));
				
				var xhr = getXhr();
					
				xhr.onreadystatechange = function(){
					if(xhr.readyState == 4 && xhr.status == 200){
						di = document.getElementById('mention');
						di.innerHTML = xhr.responseText;
					}
				}

				xhr.open("POST","{{ path('filtre_mention') }}",true);
				xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
				idFiliere = document.getElementById('filiere').options[document.getElementById('filiere').selectedIndex].value;
				xhr.send("idFiliere="+idFiliere);				
				
			}

            /**
            * Fonction  recuperation Spécialités de la Mention
            */
			function mention(){ //die(alert('fuction'));
				
				var xhr = getXhr();
					
				xhr.onreadystatechange = function(){
					if(xhr.readyState == 4 && xhr.status == 200){
						di = document.getElementById('parcours');
						di.innerHTML = xhr.responseText;
					}
				}

				xhr.open("POST","{{ path('filtre_parcours') }}",true);
				xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
				idMention = document.getElementById('mention').options[document.getElementById('mention').selectedIndex].value;
				xhr.send("idMention="+idMention);				
				
			}

		</script>
{% endblock %}
