{% extends 'base.html.twig' %}
{% block title %}
   Liste des écoles
{% endblock %}

{% block body %}
    <div class="pageheader">
        <h3><i class="fa fa-home"></i>  Gestion des UES</h3>
        <div class="breadcrumb-wrapper">
            <span class="label"></span>
            <ol class="breadcrumb">
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Paramètres LMD</a></li>
                <li class="active">UE</li>
            </ol>
        </div>
    </div>

    <div id="page-content">

        <br>
        <!-- Message -->
        {% for flash_message in app.session.flashBag.get('notice') %}
            {% if flash_message %}
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2">
                        <div class="alert alert-info media fade in">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            <div class="media-left">
                  <span class="icon-wrap icon-wrap-xs icon-circle alert-icon">
                    <i class="fa fa-check fa-lg"></i>
                  </span>
                            </div>
                            <div class="media-body">
                                <p></p>
                                <h4 class="alert-title" style="color: green">
                                    {{ flash_message }}
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <!-- \Message -->
        <br>

        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Liste des ecoles</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Abbréviation</th>
                                    <th class="text-center">Libellé Ecole</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for ecole in ecoles %}
                                    <tr>
                                        <td class="text-right">{{ loop.index }}</td>
                                        <td>{{ ecole.abrevecole }}</td>
                                        <td>{{ ecole.libecole }}</td>
                                        <td class="text-center">
                                            <a href="{{ path('ue_index', {'ecole': ecole.id })}}" title="Liste des UES de cette Ecole"><i class="fa fa-list"></i></a>
                                            |
                                              <a href="{{ path('ue_new', {'ecole': ecole.id })}}" title="Créer une UE de cette Ecole"><i class="fa fa-plus"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('ressources/plugins/bootstrap-validator/bootstrapValidator.min.css')}}" rel="stylesheet">
    <link href="{{ asset('ressources/plugins/dropzone/dropzone.css')}}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('ressources/plugins/bootstrap-validator/bootstrapValidator.min.js')}}"></script>
    <script src="{{ asset('ressources/js/sygesca-form-validation.js')}}"></script>
{% endblock %}
