{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ue</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ue.id }}</td>
            </tr>
            <tr>
                <th>Libue</th>
                <td>{{ ue.libue }}</td>
            </tr>
            <tr>
                <th>Abrevue</th>
                <td>{{ ue.abrevue }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ue_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ue_edit', { 'id': ue.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
