{% extends 'base.html.twig' %}
{% block title %}
   Modification et suppression
{% endblock %}
{% block body %}
<div class="pageheader">
    <h3><i class="fa fa-home"></i>  Gestion des Types UE</h3>
    <div class="breadcrumb-wrapper">
        <span class="label"></span>
        <ol class="breadcrumb">
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Paramètres LMD</a></li>
            <li class="active">Type UE</li>
        </ol>
    </div>
</div>

<div id="page-content">

  <br>
  <div class="row">
      <div class="col-sm-12 text-right">
        <a href="{{path('typeue_index')}}" class="btn btn-default">Liste des types UE</a>
      </div>
  </div>

    <div class="row">
      <div class="col-sm-6">
          <div class="panel">
              <div class="panel-heading">
                  <h3 class="panel-title">Liste des types UE</h3>
              </div>
              <div class="panel-body">
                  <div class="table-responsive">
                      <table class="table table-striped">
                          <thead>
                          <tr>
                              <th class="text-center">#</th>
                              <th class="text-center">Type UE</th>
                              <th class="text-center">Actions</th>
                          </tr>
                          </thead>
                          <tbody>
                          {% for typeue in typeues %}
                              <tr>
                                  <td class="text-right">{{ loop.index }}</td>
                                  <td>{{ typeue.libtypeue }}</td>
                                  <td class="text-center">
                                      <a href="{{ path('typeue_edit', {'id': typeue.id })}}" title="Modifier"><i class="fa fa-edit"></i></a>
                                  </td>
                              </tr>
                          {% endfor %}
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Modification et Suppression</h3>
                </div>
                {{ form_start(edit_form, { 'attr': {'class': 'form-vertical', 'id': 'statutForm', 'onsubmit': 'return confirm("Voulez - vous vraiment modifier ce type UE ?")' }}) }}
                <div class="panel-body">
                  <div class="row">
                      <div class="col-xs-10 col-xs-offset-1">
                          <div class="form-group">
                              <div class="row">
                                  <label class="col-sm-3 text-right control-label">Libellé</label>
                                    <div class="col-sm-8">
                                      {{ form_widget(edit_form.libtypeue) }}
                                      {{ form_errors(edit_form.libtypeue) }}
                                    </div>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-7 col-sm-offset-3 text-right">
                            <button class="btn btn-default" type="reset">Annuler</button>
                            <button class="btn btn-primary" type="submit">Modifier</button>
                        </div>
                    </div>
                    <br>
                    {{ form_end(edit_form)}}
                    <div class="row">
                      <div class="col-sm-7 col-sm-offset-4 text-right">
                          {{ form_start(delete_form, {'attr': {'onsubmit': 'return confirm("Voulez-vous vraiment supprimer ce type UE ?")'}})}}
                          <button class="btn btn-danger" type="submit">Supprimer</button>
                          {{ form_end(delete_form)}}
                      </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
{% endblock %}
