{% extends 'base.html.twig' %}
{% block title %}
   Enregistrement des Ecues
{% endblock %}

{% block body %}
    <div class="pageheader">
        <h3><i class="fa fa-home"></i>  Gestion des Ecues</h3>
        <div class="breadcrumb-wrapper">
            <span class="label"></span>
            <ol class="breadcrumb">
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Parametrage LMD</a></li>
                <li class="active">Ue</li>
            </ol>
        </div>
    </div>
    <div id="page-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Enregistrement des Ecues</h3>
                    </div>
                    {{ form_start(form, { 'attr': {'class': 'form-vertical', 'id': 'statutForm' }}) }}
                    <div class="panel-body">
                      <div class="row">
                          <div class="col-xs-10 col-xs-offset-1">
                              <div class="form-group">
                                  <div class="row">
                                      <label class="col-sm-2 text-right control-label">Libellé Ue</label>
                                        <div class="col-sm-9">
                                          {{ form_widget(form.ue) }}
                                          {{ form_errors(form.ue) }}
                                        </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1">
                                <div class="form-group">
                                    <div class="row">
                                      <div class="col-sm-6">
                                      <div class="row">
                                        <label class="col-sm-4 text-right control-label">Libelle Ecue</label>
                                          <div class="col-sm-8">
                                            {{ form_widget(form.libecue) }}
                                            {{ form_errors(form.libecue) }}

                                          </div>
                                      </div>
                                      </div>
                                      <div class="col-sm-6">
                                        <div class="row">
                                          <label class="col-sm-2 text-right control-label">Abréviation</label>
                                            <div class="col-sm-8">
                                              {{ form_widget(form.abrevecue) }}
                                              {{ form_errors(form.abrevecue) }}

                                            </div>
                                        </div>
                                      </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1">
                                <div class="form-group">
                                    <div class="row">
                                      <div class="col-sm-6">
                                        <div class="row">
                                          <label class="col-sm-4 text-right control-label">Crédit Ecue</label>
                                            <div class="col-sm-8">
                                              {{ form_widget(form.creditecue) }}
                                              {{ form_errors(form.creditecue) }}

                                            </div>
                                        </div>
                                      </div>
                                        <div class="col-sm-6">
                                          <div class="row">
                                            <label class="col-sm-2 text-right control-label">COURS</label>
                                              <div class="col-sm-8">
                                                {{ form_widget(form.cours) }}
                                                {{ form_errors(form.cours) }}
                                              </div>
                                          </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6">
                                          <div class="row">
                                            <label class="col-sm-4 text-right control-label">TP</label>
                                              <div class="col-sm-8">
                                                {{ form_widget(form.tp) }}
                                                {{ form_errors(form.tp) }}
                                              </div>
                                          </div>
                                        </div>
                                        <div class="col-sm-6">
                                          <div class="row">
                                            <label class="col-sm-2 text-right control-label">AUTRE</label>
                                              <div class="col-sm-8">
                                                {{ form_widget(form.autre) }}
                                                {{ form_errors(form.autre) }}
                                              </div>
                                          </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6">
                                          <div class="row">
                                            <label class="col-sm-4 text-right control-label">TPE</label>
                                              <div class="col-sm-8">
                                                {{ form_widget(form.tpe) }}
                                                {{ form_errors(form.tpe) }}
                                              </div>
                                          </div>
                                        </div>
                                        <div class="col-sm-6">
                                          <div class="row">
                                            <label class="col-sm-2 text-right control-label">CTT</label>
                                              <div class="col-sm-8">
                                                {{ form_widget(form.ctt) }}
                                                {{ form_errors(form.ctt) }}
                                              </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1">
                                <div class="form-group">
                                    <div class="row">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-7 col-sm-offset-3 text-right">
                                <button class="btn btn-default" type="reset">Annuler</button>
                                <button class="btn btn-primary" type="submit">Enregistrer</button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form)}}
                    <div class="row">
                      <div class="col-sm-12" style="margin-top:30px">

                      </div>
                    </div>

                    <table class="table table-striped" id="demo-dt-basic" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-left">Libellé Ecue</th>
                            <th class="text-left">Crédit Ecue</th>
                            <th class="text-left">Cours</th>
                            <th class="text-left">Tp</th>
                            <th class="text-left">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ecue in ecues %}
                            <tr>
                                <td class="text-center">{{ loop.index }}</td>
                                <td>{{ ecue.libecue }}</td>
                                <td>{{ ecue.creditecue }}</td>
                                <td>{{ ecue.cours }}</td>
                                <td>{{ ecue.tp}}</td>
                                  <td><a href="{{ path('ecue_edit', {'id': ecue.id})}}" title="Modifier Ecue"><i class="fa fa-edit"></i></a></td>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('ressources/plugins/bootstrap-validator/bootstrapValidator.min.css')}}" rel="stylesheet">
    <link href="{{ asset('ressources/plugins/dropzone/dropzone.css')}}" rel="stylesheet">
    <link href="{{ asset('ressources/plugins/datatables/media/css/dataTables.bootstrap.css')}}" rel="stylesheet">
    <link href="{{ asset('ressources/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css')}}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('ressources/plugins/bootstrap-validator/bootstrapValidator.min.js')}}"></script>
    <script src="{{ asset('ressources/js/sygesca-form-validation.js')}}"></script>
    <script src="{{ asset('ressources/plugins/datatables/media/js/jquery.dataTables.js')}}"></script>
    <script src="{{ asset('ressources/plugins/datatables/media/js/dataTables.bootstrap.js')}}"></script>
    <script src="{{ asset('ressources/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js')}}"></script>
    <script src="{{ asset('ressources/js/demo/tables-datatables.js')}}"></script>
{% endblock %}
